.task-container {
  height: 350px;
  width: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  margin-right: 6px;
}

.task {
  margin: 4px 5px 4px 15px;
  padding: 8px;
  background-color: #E8E8E8;
  display: flex;
  border-radius: 8px;
  align-items: center;
}

.task>.checkbox {
  background-color: white;
  margin: 0 8px 0 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 2px solid #BBC1DA;
}

.task>.checked {
  background-color: red;
}

.task>.text {
  width: 80%;
}

.task>.strike {
  text-decoration: line-through;
  color: #A5A5A5;
}

.task>.delete-button {
  display: none;
  text-align: center;
  width: 12px;
  height: 12px;
  background-color: gray;
  margin-right: 6px;
  margin-left: auto;
}

.task:hover>.delete-button {
  display: block;
}

.delete-button:hover {
  background-color: black;
  cursor: pointer;
}

.task-creator {
  margin: 4px 15px 4px 15px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.task-creator__button {
  background-color: white;
  margin: 0 8px 0 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 2px solid black;
}

.task-creator__text {
  width: 90%;
  border: none;
  height: 25px;
  padding: 4px;
}

.task-creator__text::selection {
  width: 90%;
  border: none;
  height: 25px;
  padding: 4px;
}

.task-container::-webkit-scrollbar {
  width: 4px;
}

.task-container::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #D8D8D8;
}

.tasks-left {
  font-size: 10px;
  margin: 12px 0;
}