.task-container {
  height: 350px;
  width: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  margin-right: 6px;
  margin-bottom: 14px;
}

.task {
  margin: 4px 5px 4px 15px;
  padding: 8px;
  background-color: #F1F2F6;
  display: flex;
  border-radius: 8px;
  align-items: center;
}

.next-day {
  padding: 6px;
  border: 2px solid blue;
}

.checkbox {
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 8px 0 0;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 2px solid #BBC1DA;
  cursor: pointer;
}

.checkbox path {
  display: none;
}

.checkbox:hover path {
  display: block;
}

.checked path {
  display: block;
  fill: black;
}

.text {
  font-family: "Roboto", sans-serif;
  width: 80%;
  font-size: 16px;
}

.strike {
  text-decoration: line-through;
  color: #A5A5A5;
}

.delete-button {
  display: none;
  text-align: center;
  width: 12px;
  height: 12px;
  color: gray;
  margin-right: 6px;
  margin-left: auto;
}

.task:hover>.delete-button {
  display: flex;
}

.delete-button:hover {
  cursor: pointer;
}

.delete-button:hover path {
  fill: black;
}

.task-creator {
  margin: 4px 15px 4px 15px;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 90%;
}

.task-creator__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 8px 0 0;
  width: 24px;
  height: 24px;
}

.task-creator:hover .task-creator__button path {
  fill: black;
}

.task-creator__text {
  font-family: "Roboto", sans-serif;
  width: 80%;
  border: none;
  height: 25px;
  font-size: 16px;
  color: black;
}

.task-creator__text::placeholder {
  color: #A5A5A5;
}

.task-creator:hover .task-creator__text::placeholder {
  color: black;
}

.task-creator__text:hover {
  cursor: text;
}

.task-creator__text:focus {
  outline-width: 0;
}

.task-container::-webkit-scrollbar {
  width: 4px;
}

.task-container::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #D8D8D8;
}

.tasks-left {
  font-size: 10px;
  margin: 12px 0;
}

.to-do__task-creator {
  padding: 10px 0 10px 0;
  display: flex;
  width: 100%;
  border-top: 2px solid #E9E9E9;
}